.block {
  border: 2px solid grey;
  padding: 10px 20px 20px 25px;
  margin-bottom: 20px;
}

.color-block {
  width: 275px;
  height: 200px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
}

/* #color1 {
  background-color: #151e3f;
} */

/* #color2 {
  background-color: #030027;
}

#color3 {
  background-color: #f2f3d9;
}

#color4 {
  background-color: #dc9e82;
}

#color5 {
  background-color: #c16e70;
} */

.mainTitle {
  font-size: 30px;
}

.title {
  font-size: 25px;
}
.roboto {
  font-family: "Roboto", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.inconsolata {
  font-family: "Inconsolata", sans-serif;
}

.text {
  font-size: 18px;
}

#robotoThin {
  font-weight: 300;
}

#robotoLight {
  font-weight: 450;
}

#robotoThinItalic {
  font-weight: 300;
  font-style: italic;
}

#poppinsThin {
  font-weight: 200;
}

#poppinsExtraLight {
  font-weight: 550;
}

#poppinsExtraLightItalic {
  font-weight: 400;
  font-style: italic;
}

#incoExtraLight {
  font-weight: 300;
}

#incoLight {
  font-weight: 400;
}

#incoMedium {
  font-weight: 600;
}
